<!DOCTYPE html>

<html>

  <head>
    <h1><center>Classic Rock Paper Scissors</center></h1>
  </head>

  <body bgcolor=00CCFF>
    
    <center>
      <form action="/new" method="post">
        <h2>What is your name?</h2>
        <input type="text" name="user">
        <input type="submit"> 
      </form> 
    </center>

  </body>

</html>