<!DOCTYPE html>

<html>
  
  <head>
    <h1><center>Classic Rock Paper Scissors</center></h1>
  </head>

  <body bgcolor=00CCFF>

    <h2><center> Hi <%= @user %>!</center></h2>

    <section> 
      <h3><center>Please choose your item</center></h3>
    </section>

    <section id="icons">
      <center>
        <a value="rock" href="/calculate"><img src="images/rock.png" style="width:304px;height:228px"/>  
        <a value="rock" href="/calculate"><img src="images/paper.png" style="width:304px;height:228px"/>  
        <a value="rock" href="/calculate"><img src="images/scissors.png" style="width:304px;height:228px"/>
      </center>
    </section>  
  </body>

</html>

<!-- <html>

  <head>
    
    <title> Ronin Badge Challenge</title>
    
    <link type="text/css" rel="stylesheet" href="normalise.css"/>
    <link type="text/css" rel="stylesheet" href="mystyle.css"/>
    
  </head>

  <body>

    <h1> Classic Rock, Paper, Scissors </h1>

    <h3> Ok, <%= @name %>, Please choose your item! </h3>

    <section id="icons">
      <a value="rock" href="/calculate"><img id="rock" src="images/rock.png"/></a>
      <a value="paper" href="/calculate"><img id="paper" src="images/paper.png"/></a>
      <a value="scissors" href="/calculate"><img id="scissors" src="images/scissors.png"/></a>
    </section>  
    
  </body>
  
  <footer>
      
    <img id="logo" src="images/CAWlogo.png" width="100" height="100"/>
      
  </footer>


</html> --> 