<!DOCTYPE html>

<html>
  
  <head>
    <h1><center>Classic Rock Paper Scissors</center></h1>
  </head>

  <body bgcolor=00CCFF>

    <h2><center> Hi <%= @player %>!</center></h2>
    <section> 
      <h3><center>Please choose your item</center></h3>
    </section>

    <section >
      <center>
        <a value="rock" href="/processing?pick=rock&player=<%=@player%>"><img src="images/rock.png" style="width:304px;height:228px"/>  
        <a value="paper" href="/processing?pick=paper&player=<%=@player%>"><img src="images/paper.png" style="width:304px;height:228px"/> 
        <a value="scissors" href="/processing?pick=scissors&player=<%=@player%>"><img src="images/scissors.png" style="width:304px;height:228px"/>
      </center>
    </section>  
  </body>

</html>