<!DOCTYPE html>

<html>
  
  <head>
    <h1><center>Classic Rock Paper Scissors</center></h1>
  </head>

  <body bgcolor=00CCFF>

    <section id="icons">
      <center>
       
      </center>
    </section>  
  </body>

</html>