<!DOCTYPE html>

<html>
  
  <head>
    <h1><center>Classic Rock Paper Scissors</center></h1>
  </head>

  <body bgcolor=00CCFF>

    <h2><center> <%= @user %></center></h2>
    <section> 
      <h3><center>The computer chose</center></h3>
    </section>

    <section >
      <center>
        <a value="scissors" href="/processing"><img src="images/scissors.png" style="width:304px;height:228px"/>
      </center>
    </section>  
  </body>

</html>